<div class="row justify-content-center">
    <div class="col-8 mb-1">
        <div class="card">
            <div class="card-header">
                Add Videos Ideas
            </div>
            <div class="card-body">
                <form action="/ideas" method="POST">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="details">Details</label>
                        <textarea class="form-control" name="details" id="details" placeholder="Enter details"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success btn-block
            ">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>